@import url("../style/style.css");
.header__index {
    background-image: url("/view/img/images/ImgHeaderIndex.jpg");
    width: 100%;
    height: 60rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.header__back {
    width: 100%;
    height: 100%;
    background-color: var(--colorTransB);
    padding: 2rem;
}

.header__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slogan__pagen {
    height: 20rem;
    margin-bottom: 5rem;
    padding: 2rem 0;
    display: flex;
    align-items: center;
}

.slogan__pagen h1 {
    width: 80rem;
    color: var(--colorTrans1);
    transition: ease .4s;
}

.slogan__pagen:hover h1 {
    width: 100%;
    color: var(--colorSolid1);
}

.header__page {
    width: 100%;
    height: 100%;
    background-color: var(--colorSolidB);
    padding: 2rem;
}

.header__navegation {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navegation a {
    transition: ease .4s;
}

.header__navegation a:hover {
    color: var(--colorSolidD);
}

.footer {
    background-color: var(--colorSolidB);
    padding: 3rem;
}

.footer__navegation {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    gap: 2rem;
}

.footer__navegation a {
    transition: ease .4s;
}

.footer__navegation a:hover {
    color: var(--colorSolidD);
}

.navegation {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.navegation a {
    color: var(--colorSolid1);
}

.main {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.main h1 {
    text-align: center;
    color: var(--colorSolidB);
}

.section {
    margin-bottom: 10rem;
}


/*---INDEX---*/


/*___About Us:Section__*/

.index-aboutUs h2 {
    color: var(--colorSolidC);
    text-align: center;
}

.aboutUs__information {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5rem;
    margin-top: 3rem;
}

.aboutUs__information-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.aboutUs__information-item h3,
p {
    color: var(--colorSolidC);
}

.aboutUs__information-item p {
    text-align: justify;
}


/*___Properties: Section__*/

.index-properties h2 {
    color: var(--colorSolidC);
    text-align: center;
}

.properties-layout {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5rem;
    row-gap: 5rem;
}

.property__cart {
    background-color: var(--colorSolidB);
    border-radius: 1rem;
}

.property__content {
    text-align: center;
}

.property__content h3,
p {
    margin-bottom: 2rem;
}

.property__content h3 {
    color: var(--colorSolid1);
}

.property__content p {
    color: var(--colorSolidE);
    font-weight: bold;
    font-size: 2.5rem;
}

.property__image img {
    width: 100%;
    height: 25rem;
    margin-bottom: 2rem;
    border-radius: 1rem 1rem 0 0;
}

.view {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: -3rem;
}

.view a {
    color: var(--colorSolidB);
    font-size: 2.5rem;
    font-weight: bold;
}

.button {
    width: 50%;
    padding: 1.8rem;
    border-radius: 1rem;
}

.button-view {
    background-color: var(--colorSolidE);
}

.all-properties {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.button-viewAll-properties {
    width: 20rem;
    background-color: var(--colorSolidD);
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--colorSolidB);
}


/*___contact:seciton___*/

.index-contact h2 {
    text-align: center;
    color: var(--colorSolidC);
    margin-bottom: 3rem;
}

.contact__image {
    width: 100%;
    height: 50rem;
    background-image: url("/view/img/images/ImgContact.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact__background {
    width: 100%;
    height: 100%;
    background-color: var(--colorTransB);
}

.contact__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.contact__information p {
    font-size: 3.5rem;
    color: var(--colorSolid1);
}

.button-contact {
    width: 20rem;
    background-color: var(--colorSolidD);
    color: var(--colorSolidB);
    font-size: 2.5rem;
    font-weight: bold;
}


/*___blogs:section___*/

.index-blogs h2 {
    text-align: center;
    color: var(--colorSolidC);
    margin-bottom: 3rem;
}

.blog-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.blog__cart {
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: var(--colorSolidB);
    border-radius: 1rem;
}

.blog__image img {
    width: 100%;
    height: 100%;
    border-radius: 1rem 0 0 1rem;
}

.blog__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.blog__content h2 {
    color: var(--colorSolidE);
}

.blog__content a {
    text-align: center;
    padding: 1rem;
    color: var(--colorSolidB);
    font-size: 2.5rem;
    font-weight: bold;
    background-color: var(--colorSolidE);
    width: 40%;
    border-radius: 1rem;
}

.all-blogs {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.button-viewAll-blogs {
    width: 20rem;
    background-color: var(--colorSolidD);
    font-size: 2.5rem;
    font-weight: bold;
}


/*----About Us-----*/

.about {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.aboutUs__carac {
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: 3rem;
    align-items: center;
}

.aboutUs__carac:last-of-type {
    display: grid;
    grid-template-columns: 60% 40%;
    column-gap: 3rem;
    align-items: center;
}

.aboutUs__carac img {
    width: 50rem;
    border-radius: 1rem;
}

.blog-section h1 {
    margin-bottom: 3rem;
}