.icon__crud {
    margin: 4rem 0;
    display: flex;
    justify-content: center;
}

.icon__crud img {
    width: 8rem;
    height: 8rem;
}

.options {
    width: 100%;
    margin-bottom: 4rem;
    display: flex;
    align-items: flex-end;
    gap: 3rem;
}

.searcher {
    flex: 1;
    display: flex;
}

.searcher:last-of-type {
    border: none;
    cursor: pointer;
}

.searcher input {
    width: 80%;
    padding: 1.5rem;
    border: none;
    border: 5px solid var(--colorSolidB);
    border-radius: 1rem;
    font-size: 2rem;
    color: var(--colorSolidB);
}

.searcher input:last-of-type {
    border: none;
    width: 7rem;
    height: 7rem;
}

.button {
    flex: 0 0 3rem;
    padding: 1rem 6rem;
    border-radius: 1rem;
}

.button-create {
    color: var(--colorSolid1);
    font-size: 2.5rem;
    background-color: var(--colorSolid3);
}

.content {
    padding: 4rem;
    border: 4px solid var(--colorSolidB);
    border-radius: 1rem;
    height: 100rem;
    overflow: scroll;
    margin-bottom: 4rem;
}

.property {
    margin-bottom: 3rem;
    border: 4px solid var(--colorSolidB);
    border-radius: 1rem;
}

.property__label {
    padding: 2rem;
    background-color: var(--colorSolidB);
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.property__values {
    padding: 2rem;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 2rem;
}

.property__label h3 {
    color: var(--colorSolid1);
}

.property__values p {
    color: var(--colorSolidB);
    font-size: 2.5rem;
}

.property__values .property__price {
    color: var(--colorSolid3);
    font-weight: bold;
}

.property__values img {
    border-radius: 1rem;
}

.property__price p {
    color: var(--colorSolidB);
    font-size: 2.5rem;
}

.property__actions {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.action__delete {
    color: var(--colorSolid1);
    background-color: var(--colorSolid2);
    padding: 1rem 0;
    width: 90%;
    margin: 0 auto;
    border-radius: 1rem;
    font-size: 2.5rem;
    border: none;
    cursor: pointer;
}

.action__update {
    color: var(--colorSolid1);
    background-color: var(--colorSolidD);
    padding: 1rem 0;
    width: 90%;
    margin: 0 auto;
    border-radius: 1rem;
    font-size: 2.5rem;
    border: none;
    cursor: pointer;
}