@import url('../style/style.css');
.admin__section {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.admin__navegation {
    width: 20rem;
    background-color: var(--colorSolidB);
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    justify-content: center;
}

.admin__content {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin__status {
    max-width: 80rem;
    width: 90%;
    padding: 5rem;
    border-radius: 1rem;
    background-color: var(--colorSolidB);
}

.data {
    display: flex;
    gap: 3rem;
    margin-bottom: 5rem;
}

.data__image img {
    width: 10rem;
    height: 10rem;
}

.admin__text {
    margin-bottom: 4rem;
}

.data__content {
    color: var(--colorSolidE);
}

.admin__text {
    color: var(--colorSolidB);
}


/*Navegation*/

.view {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.view img {
    width: 8rem;
    height: 8rem;
}

.crud {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.crud__option img {
    width: 8rem;
    height: 8rem;
}

.admin__header {
    margin-bottom: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.logout {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.logout input {
    width: 8rem;
    height: 8rem;
}