@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');
@import url('normalize.css');
:root {
    /*Solid Colors*/
    --colorSolidA: #140F07;
    --colorSolidB: #26284A;
    --colorSolidC: #5959A1;
    --colorSolidD: #9995FA;
    --colorSolidE: #F1DCF6;
    --colorSolid0: #000000;
    --colorSolid1: #FFFFFF;
    --colorSolid2: #AB0000;
    --colorSolid3: #60DA00;
    /*Transparent Colors*/
    --colorTransA: rgba(20, 15, 7, 0.7);
    --colorTransB: rgba(38, 40, 74, 0.7);
    --colorTransC: rgba(89, 89, 161, 0.7);
    --colorTransD: rgba(153, 149, 250, 0.7);
    --colorTransE: rgba(241, 220, 246, 0.7);
    --colorTrans0: rgba(0, 0, 0, 0.7);
    --colorTrans1: rgba(255, 255, 255, 0.7);
    --font: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: var(--font);
}

h1,
h2,
h3,
p,
a {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    font-size: 2rem;
}

a {
    font-size: 1.8rem;
    text-decoration: none;
}

img {
    max-width: 100%;
}


/*Tools*/

.error {
    background-color: var(--colorSolid2);
}

.container-min {
    max-width: 100rem;
    width: 70%;
    margin: 0 auto;
}

.container-regular {
    max-width: 130rem;
    width: 80%;
    margin: 0 auto;
}

.container-big {
    max-width: 150rem;
    width: 90%;
    margin: 0 auto;
}

.container-max {
    max-width: 170rem;
    width: 950%;
    margin: 0 auto;
}

.button {
    border: none;
    cursor: pointer;
    text-align: center;
}

.button-back {
    text-align: center;
    background-color: var(--colorSolidB);
    color: var(--colorSolid1);
    width: 60%;
    padding: 1rem;
    margin: 0 auto;
    border-radius: 1rem;
}

.button-create {
    color: var(--colorSolid1);
    font-size: 2.5rem;
    background-color: var(--colorSolid3);
    padding: 1rem 0;
    width: 20%;
    margin: 0 auto;
    border-radius: 1rem;
    font-size: 2.5rem;
}

.button-delete {
    color: var(--colorSolid1);
    background-color: var(--colorSolid2);
    padding: 1rem 0;
    width: 90%;
    margin: 0 auto;
    border-radius: 1rem;
    font-size: 2.5rem;
}

.button-update {
    color: var(--colorSolid1);
    background-color: var(--colorSolidD);
    padding: 1rem 0;
    width: 90%;
    margin: 0 auto;
    border-radius: 1rem;
    font-size: 2.5rem;
}